# Python
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/*.db
backend/uploads/
backend/.env
backend/app/core/config.py
backend/app/core/config_backup.py
backend/app/core/config_private.py

# Database Backups
*.dump
*.sql
*.sqlite
*.sqlite3

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store